#ignore config files
*config.py

#ignore swap files
*.swp
*.swo
~*.*

#ignore npy files
*.npy

#ignore bytcode compilation of each python file
*.pyc

#ignore xml files (pycharm creates these for projects)
*.xml
